	<div data-elementor-type="wp-page" data-elementor-id="1403" class="elementor elementor-1403">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-f2c40d3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f2c40d3" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e4a426d" data-id="e4a426d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-be08c35 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading" data-id="be08c35" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<style>
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h1 class="elementor-heading-title elementor-size-default">The Right Plan for Your Business Needs</h1>		</div>
				</div>
				<div class="elementor-element elementor-element-982a038 elementor-widget elementor-widget-text-editor" data-id="982a038" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5a1137b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5a1137b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0713a6d" data-id="0713a6d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="elementor-section elementor-inner-section elementor-element elementor-element-ba78568 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="ba78568" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6d5e527" data-id="6d5e527" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2a1577f elementor-widget elementor-widget-jkit_heading" data-id="2a1577f" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_1_64ef4be936d0e" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">Basic Plan</h3></div><div class="heading-section-description"><p>Get the basic HR support you need keep your small business running smoothly</p></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-f93ac77 elementor-widget elementor-widget-jkit_heading" data-id="f93ac77" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_2_64ef4be93b818" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">$23<span class="style-color"><span>/per month</span></span></h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-0d41336 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="0d41336" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
			<style>
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-color:#0c0d0e;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-bottom:0;flex-grow:1;border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}.e-con-inner>.elementor-widget-divider,.e-con>.elementor-widget-divider{width:var(--container-widget-width,100%);--flex-grow:var(--container-widget-flex-grow)}</style>		<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-20481b4 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="20481b4" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
			<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Progress Reports</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">In-Depth HR Audit</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Email Support</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-3c6dd3d elementor-align-justify elementor-widget elementor-widget-button" data-id="3c6dd3d" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Get Started</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f33b466" data-id="f33b466" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4bc6690 elementor-widget elementor-widget-jkit_heading" data-id="4bc6690" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_3_64ef4be944f5e" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">Premium Plan</h3></div><div class="heading-section-description">Take your business to the next level with comprehensive full range services</div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-39f4570 elementor-widget elementor-widget-jkit_heading" data-id="39f4570" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_4_64ef4be947e53" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">$49<span class="style-color"><span>/per month</span></span></h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-a5b52c6 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a5b52c6" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-b0c3d84 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="b0c3d84" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Daily Updates</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">In-Depth HR Audit</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Dedicated HR Manager</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Pause or Cancel Anytime</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-963db5c elementor-align-justify elementor-widget elementor-widget-button" data-id="963db5c" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Get Started</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-720457b" data-id="720457b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ed9f961 elementor-widget elementor-widget-jkit_heading" data-id="ed9f961" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_5_64ef4be950f1f" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">Enterprise Plan</h3></div><div class="heading-section-description">Get the HR support your large corporation needs with our customizable service</div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-7755cfd elementor-widget elementor-widget-jkit_heading" data-id="7755cfd" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_6_64ef4be954efe" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">$137<span class="style-color"><span>/per month</span></span></h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-5638921 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5638921" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-ecf0d43 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="ecf0d43" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Written Policies</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">In-Depth HR Audit</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Unlimited HR Support</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-check-circle"></i>						</span>
										<span class="elementor-icon-list-text">Free Support</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-8c95042 elementor-align-justify elementor-widget elementor-widget-button" data-id="8c95042" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Get Started</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-e117883" data-id="e117883" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d1645d7 elementor-widget elementor-widget-jkit_heading" data-id="d1645d7" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_7_64ef4be95e78a" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">Ultimate Plan</h3></div><div class="heading-section-description">For specific HR needs, this plan allows you to hand-pick services suit your business.</div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-b59a4f0 elementor-widget elementor-widget-jkit_heading" data-id="b59a4f0" data-element_type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-heading  align-left align-tablet- align-mobile- jeg_module_1403_8_64ef4be961f4f" ><div class="heading-section-title  display-inline-block"><h3 class="heading-title">Custom Quote </h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-5186ed8 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5186ed8" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1af065b elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="1af065b" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-phone-alt"></i>						</span>
										<span class="elementor-icon-list-text">+62 (385) 5025004</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-envelope"></i>						</span>
										<span class="elementor-icon-list-text">contact@domain.com</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-map-marker-alt"></i>						</span>
										<span class="elementor-icon-list-text">Denpasar Tim., Bali 80237</span>
									</li>
						</ul>
				</div>
				</div>
				<div class="elementor-element elementor-element-609b040 elementor-align-justify elementor-widget elementor-widget-button" data-id="609b040" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Contact Us</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-386bc99 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="386bc99" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-01b104c" data-id="01b104c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c41e15f elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="c41e15f" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="770" height="628" src="~/wp-content/uploads/sites/341/2023/02/ellipse-green.png" class="attachment-full size-full wp-image-1421" alt="" decoding="async" loading="lazy" srcset="https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/ellipse-green.png 770w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/ellipse-green-300x245.png 300w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/ellipse-green-768x626.png 768w" sizes="(max-width: 770px) 100vw, 770px" />															</div>
				</div>
				<div class="elementor-element elementor-element-0aa7ff9 elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-absolute elementor-widget elementor-widget-spacer" data-id="0aa7ff9" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
			<style>
.elementor-column .elementor-spacer-inner{height:var(--spacer-size)}.e-con{--container-widget-width:100%}.e-con-inner>.elementor-widget-spacer,.e-con>.elementor-widget-spacer{width:var(--container-widget-width,var(--spacer-size));--align-self:var(--container-widget-align-self,initial);--flex-shrink:0}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container,.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer,.e-con>.elementor-widget-spacer>.elementor-widget-container,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer{height:100%}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner{height:var(--container-widget-height,var(--spacer-size))}</style>		<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d564f43 elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-absolute elementor-widget elementor-widget-spacer" data-id="d564f43" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-aa96d0e elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-absolute elementor-widget elementor-widget-spacer" data-id="aa96d0e" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-ece20f2 elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-absolute elementor-widget elementor-widget-spacer" data-id="ece20f2" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-34fdaee elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="34fdaee" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="800" height="936" src="~/wp-content/uploads/sites/341/2023/02/Team-4-2.png" class="attachment-full size-full wp-image-2080" alt="" decoding="async" loading="lazy" srcset="https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-4-2.png 800w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-4-2-256x300.png 256w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-4-2-768x899.png 768w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
				<div class="elementor-element elementor-element-ebf8ce6 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="ebf8ce6" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="800" height="936" src="~/wp-content/uploads/sites/341/2023/02/Team-2-2.png" class="attachment-full size-full wp-image-2078" alt="" decoding="async" loading="lazy" srcset="https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-2-2.png 800w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-2-2-256x300.png 256w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-2-2-768x899.png 768w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
				<div class="elementor-element elementor-element-37f7c9d elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="37f7c9d" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="800" height="936" src="~/wp-content/uploads/sites/341/2023/02/Team-3-2.png" class="attachment-full size-full wp-image-2074" alt="" decoding="async" loading="lazy" srcset="https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-3-2.png 800w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-3-2-256x300.png 256w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-3-2-768x899.png 768w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
				<div class="elementor-element elementor-element-b5c67ad elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="b5c67ad" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="800" height="936" src="~/wp-content/uploads/sites/341/2023/02/Team-1-4.png" class="attachment-full size-full wp-image-2079" alt="" decoding="async" loading="lazy" srcset="https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-1-4.png 800w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-1-4-256x300.png 256w, https://templatekit.jegtheme.com/emploi/wp-content/uploads/sites/341/2023/02/Team-1-4-768x899.png 768w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
				</div>
				<div class="elementor-element elementor-element-094aa51 elementor-widget elementor-widget-spacer" data-id="094aa51" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-24f8313" data-id="24f8313" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-41d05ed elementor-invisible elementor-widget elementor-widget-heading" data-id="41d05ed" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Our Team of Experts is Ready to Assist You</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ffcd613 elementor-widget elementor-widget-text-editor" data-id="ffcd613" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							At emploi, we understand that HR and recruitment can be challenging. That&#8217;s why we&#8217;ve assembled a team of experts to assist you whenever you need it.						</div>
				</div>
				<div class="elementor-element elementor-element-7175db9 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="7175db9" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Meet The Team</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-2848fb4 elementor-widget__width-auto elementor-align-left elementor-widget elementor-widget-button" data-id="2848fb4" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
							<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-chevron-right"></i>			</span>
						<span class="elementor-button-text">Contact Us</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-6455767 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6455767" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f58689f" data-id="f58689f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f4ec4c0 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="f4ec4c0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Frequently asked questions</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ca4124b elementor-widget elementor-widget-text-editor" data-id="ca4124b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-cf26c15 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cf26c15" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-40b34a1" data-id="40b34a1" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e58e0cc elementor-widget elementor-widget-jkit_accordion" data-id="e58e0cc" data-element_type="widget" data-widget_type="jkit_accordion.default">
				<div class="elementor-widget-container">
			<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_1403_9_64ef4be98acb6" ><div class="card-wrapper expand">
				<div class="card-header">
					<a href="#expand-8ca65a2" class="card-header-button" aria-expanded="false" data-target="#expand-8ca65a2" aria-controls="expand-8ca65a2">
						<span class="title">How does your pricing work?</span><div class="right-icon-group">
				<div class="normal-icon"><i aria-hidden="true" class="fas fa-chevron-circle-down"></i></div>
				<div class="active-icon"><i aria-hidden="true" class="fas fa-chevron-circle-up"></i></div>
			</div>
					</a>
				</div>
				<div class="card-expand" id="expand-8ca65a2" style="display:block"><div class="card-body">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est magni dolores eos qui ratione excepteur sint occaecat cupidatat non proident</div></div>
			</div><div class="card-wrapper ">
				<div class="card-header">
					<a href="#expand-b87ecc3" class="card-header-button" aria-expanded="false" data-target="#expand-b87ecc3" aria-controls="expand-b87ecc3">
						<span class="title">Are there bulk discounts for featured job openings?</span><div class="right-icon-group">
				<div class="normal-icon"><i aria-hidden="true" class="fas fa-chevron-circle-down"></i></div>
				<div class="active-icon"><i aria-hidden="true" class="fas fa-chevron-circle-up"></i></div>
			</div>
					</a>
				</div>
				<div class="card-expand" id="expand-b87ecc3" style="display:none"><div class="card-body">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est magni dolores eos qui ratione excepteur sint occaecat cupidatat non proident</div></div>
			</div><div class="card-wrapper ">
				<div class="card-header">
					<a href="#expand-0e37970" class="card-header-button" aria-expanded="false" data-target="#expand-0e37970" aria-controls="expand-0e37970">
						<span class="title">Why won’t my payment go through?</span><div class="right-icon-group">
				<div class="normal-icon"><i aria-hidden="true" class="fas fa-chevron-circle-down"></i></div>
				<div class="active-icon"><i aria-hidden="true" class="fas fa-chevron-circle-up"></i></div>
			</div>
					</a>
				</div>
				<div class="card-expand" id="expand-0e37970" style="display:none"><div class="card-body">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est magni dolores eos qui ratione excepteur sint occaecat cupidatat non proident</div></div>
			</div><div class="card-wrapper ">
				<div class="card-header">
					<a href="#expand-cb3098f" class="card-header-button" aria-expanded="false" data-target="#expand-cb3098f" aria-controls="expand-cb3098f">
						<span class="title">How does the vetting process of talent work?</span><div class="right-icon-group">
				<div class="normal-icon"><i aria-hidden="true" class="fas fa-chevron-circle-down"></i></div>
				<div class="active-icon"><i aria-hidden="true" class="fas fa-chevron-circle-up"></i></div>
			</div>
					</a>
				</div>
				<div class="card-expand" id="expand-cb3098f" style="display:none"><div class="card-body">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est magni dolores eos qui ratione excepteur sint occaecat cupidatat non proident</div></div>
			</div><div class="card-wrapper ">
				<div class="card-header">
					<a href="#expand-1e7205a" class="card-header-button" aria-expanded="false" data-target="#expand-1e7205a" aria-controls="expand-1e7205a">
						<span class="title">How do i redeem a coupon?</span><div class="right-icon-group">
				<div class="normal-icon"><i aria-hidden="true" class="fas fa-chevron-circle-down"></i></div>
				<div class="active-icon"><i aria-hidden="true" class="fas fa-chevron-circle-up"></i></div>
			</div>
					</a>
				</div>
				<div class="card-expand" id="expand-1e7205a" style="display:none"><div class="card-body">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est magni dolores eos qui ratione excepteur sint occaecat cupidatat non proident</div></div>
			</div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-b823334 elementor-widget__width-auto elementor-widget elementor-widget-text-editor" data-id="b823334" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							Still have any questions?						</div>
				</div>
				<div class="elementor-element elementor-element-84a74aa elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="84a74aa" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
						<span class="elementor-button-content-wrapper">
							<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-chevron-right"></i>			</span>
						<span class="elementor-button-text">Contact Us</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>

